.sidebar-wrapper .menu .submenu {
    display: block !important;
    max-height: 0;
    animation-delay: unset !important;
    transition: max-height 0.8s ease-out;
}
.sidebar-wrapper .menu .submenu.active {
    max-height: 500px;
    transition: max-height 0.8s ease-in;
}
.MuiTableBody-root .MuiTableRow-root:nth-child(even) {
    background-color: #dadada;
}
.MuiTableBody-root .MuiTableRow-root:nth-child(odd) {
    background-color: #f3f3f3;
}

/* Login page css */



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}
#sidebar_main_logo {
    height: 32px;
}
#sidebar_logo_text {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
#sidebar_logo_text:hover {
    color: rgb(77, 77, 77);
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}